body {
	display: flex;
  display: -webkit-flex;
	min-height: 100vh;
	flex-direction: column;
  -webkit-flex-direction: column; /* Safari 6.1+ */
  font-family: $font1;
  position: relative;
}
h3, h2, h3, h4 {
        font-family: $font2;
        text-transform: uppercase;
}
.container {
  width: 90%;
  margin: 0px 5%;
}
.btn {
  &-default {
    font-family: $font1;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.1em;
    text-decoration: none;
    padding: 10px 50px;
    background-color: $color1;
    border-radius: $btn-rad;
    border-color: transparent;
    color: $header-color;
    -webkit-transition: background-color 0.3s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out;
    -ms-transition: background-color 0.3s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
    
    &:active, &:hover, &:visited {
      @extend .btn-default;
    }
    &:hover {
      background-color: darken($color1, 20%);
    }
  }
  &-thin {
    @extend .btn-default;
    font-weight: 200;
    &:active, &:hover, &:visited {
      @extend .btn-default:active ;
      font-weight: 200;
    }
    &:hover {
      @extend .btn-default:hover;
    }
  }
  &-small {
    @extend .btn-default;
    padding: 10px 10px 10px 10px;
    &:active, &:hover, &:visited {
      @extend .btn-default:active;
      @extend .btn-small;
    }
    &:hover {
      @extend .btn-default:hover;
    }
  }
  &-big {
    @extend .btn-default;
    font-weight: 400;
    background-color: $color2;
    padding: 10px 70px;
    &:active, &:hover, &:visited {
      @extend .btn-default:active;
      @extend .btn-big;
    }
    &:hover {
      @extend .btn-default:hover;
      background-color: darken($color2, 15%);
    }
  }
  &-center {
    display: table;
    margin: auto;
  }
  &-none {
    @extend .btn-default;
    font-weight: 200;
    background-color: white;
    padding: 2px 2px;
    border-color: white;
    display: inline;
    outline: none !important;
    border-color:$transparent;
    box-shadow:none !important;
    text-transform: lowercase;
    &:hover {
       @extend .btn-none;
    }
  }
  &-cta {
    margin-bottom: 15px;
  }
}

.form-control, .btn {
    &:focus,&:active:focus,&.active:focus,
    &.focus,&:active.focus,&.active.focus {
        outline: none !important;
        border-color:$transparent;
        box-shadow:none !important;
    }
}
.top-section {
  background-color: #303030;
}

.subtle {
  &-link {
    color: $text-color;
    text-decoration: none;
    font-style: italic;
    opacity: 0.9;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
    &:hover {
      @extend .subtle-link;
      opacity: 1;
      text-decoration: underline;
    }
    &.center {
      display: table;
      margin: auto;
    }
  }
}

.center {
  text-align: center;
}

.clear {
    clear:both;
    line-height:0;
}

.spacebetween {
  width: 5px;
  display: inline-block;
}

.small-sidebar {
  padding: 20px;
  margin-top: 50px;
  width: $small-sidebar;
  margin-right: 0%;
  float: left;
  overflow: hidden;
}

.big-sidebar {
  padding: 20px;
  margin-top: 50px;
  margin-right: 2.5%;
  width: $big-sidebar;
  float: left;
}
.highlight {
  background-color: $hightlight-search;
}

.shadow-box {
  -webkit-box-shadow: 0 0 7px #dfdfdf;
  box-shadow: 0 0 7px #dfdfdf;
}
.muted {
  opacity: 0.7;
}
.section {
  &-title {
    display: inline-block;
    float: left;
    background-color: white;
    padding-right: 10px;
    position: relative;
    margin-bottom: 10px;
    margin-top: -15px;
    z-index: 10;
  }
  &-line {
    height: 1px;
    background-color: rgba($text-color, 0.3);
    display: block;
    margin-bottom: 30px;
  }
}

       