
//colour palette
$color1: #7EB7BF; /*groen*/
$color2: #E94566; /*roos*/
$color3: #223D4D; /*donkerblauw*/
$transparent: rgba(250,250,250,0);
$text-color: #303030;
$hightlight-search: pink;
$header-color: white;
$text-light: #303030;
$light-bg: rgba(#ccc, 0.3);
$light-border: rgba(#ccc, 0.3);

// media queries
$mq0: 500px;
$mq1: 600px;
$mq2: 768px;	//bootstrap breakpoint mobile nav
$mq3: 900px;
$mq4: 1000px;
$mq5: 1200px;
$mq6: 1400px;

//fonts
$font1: 'open_sansregular';
$font2: 'futuramedium';
$font3: 'open_sanslight';

//image styles
$boost-img: 200px;
$small-sidebar: 30%;
$big-sidebar: 67.5%;

$profilepicture: 150px;
$profilepicture-thumb: 20px;
$profilepicture-small: 50px;

$profile-tile: 300px;

$icon-height: 30px;
$icon-small: 15px;
$icon-medium: 25px;

$adm-panel-item: 100px;

//banner heights
$socialmedia-h: 400px;
$socialmedia-h-m: 300px;	//mobile
$banner-h: 550px; 
$adv-home-h: 250px; 


//tags
$tag-bg: #ddd;
$tag-border: #ddd;
$tag-text: #303030;

//comments
$comment-bg: white;
$comment-border: #ccc;


//footer
$footer-text: white;
$footer-bg: darken($color3, 7%);

//buttons
$btn-rad: 25px;

//imports
@import 'mixins/mixins';
@import 'base';
@import 'modules/nav';
@import 'modules/home';
@import 'modules/welcome';
@import 'modules/icons';
@import 'modules/header';
@import 'modules/footer';
@import 'modules/banner';
@import 'modules/message';
@import 'modules/search';
@import 'modules/register';
@import 'modules/profile';
@import 'modules/project';
@import 'modules/contests';
@import 'modules/applycontests';
@import 'modules/socialmedia';
@import 'modules/newsletter';
@import 'modules/ads';
@import 'modules/api';
@import 'modules/cropper';
@import 'modules/admin';