.adm {
	&-stats {
		li {
			padding-left: 15px;
			}
		&-container {
			display: flex;
			display: -webkit-flex;
			flex-wrap: wrap;
			webkit-flex-wrap: wrap;
			flex-direction: row;
			webkit-flex-direction: row;
			align-items: baseline;
			webkit-align-items: baseline;
		}
		&-details {
			@extend .shadow-box;
			margin: 20px 0px;
			padding: 20px;
			background-color: white;

			display: flex;
			display: -webkit-flex;
			webkit-flex-direction: column;
			flex-direction: column;
			justify-content: space-between;
			webkit-justify-content: space-between;
			
		}
		list-style: none;
		margin-left: 0px;
		-webkit-margin-before: 0em;
	    -webkit-margin-after: 0em;
	    -webkit-margin-start: 0px;
	    -webkit-margin-end: 0px;
	    -webkit-padding-start: 0px;
	    display: flex;
		display: -webkit-flex;
		flex-direction: row;
		webkit-flex-direction: row;
		justify-content: space-around;
		webkit-justify-content: space-around;
	}
	&-project {
		border: 2px solid $light-border;
		border-top-width: 0px;
		padding: 20px;
		&:first-child {
			border-top-width: 2px;
		}
		&-list {
			list-style: none;
			margin-left: 0px;
			-webkit-margin-before: 0em;
		    -webkit-margin-after: 0em;
		    -webkit-margin-start: 0px;
		    -webkit-margin-end: 0px;
		    -webkit-padding-start: 0px;
		    &-item {
		    	float: left;
		    	width: 10%;
		    	&:first-child {
		    		font-weight: bold;
		    		text-align: center;
		    	}
		    	&:nth-child(2), &:nth-child(3)  {
		    		width: 35%;
    			}
		    }
		    &-item-5 {
		    	float: left;
		    	width: 5%;
		    }
		    &-item-20 {
		    	float: left;
		    	width: 20%;
		    }
		    &-item-25 {
		    	float: left;
		    	width: 25%;
		    }
		    &-item-33 {
		    	float: left;
		    	width: 33.33%;
		    }
		    &-item-50 {
		    	float: left;
		    	width: 50%;
		    }
		}
		a {
			color: $text-color;
		}
	}
}

///////// MEDIA QUERIES

@media screen and (max-width: $mq1) {
  	.adm {
		&-project {
			padding: 10px 0px;
			&-list {
			    &-item {
			    	padding: 3px;
			    	width: 25%;
			    	margin: 0px 12.5%; 
			    	overflow: hidden;
			    }
			    &-item-20, &-item-33 {
			    	padding: 3px;
			    	width: 50%;
			    	overflow: hidden;
			    }
			    &-item-5 {
			    	padding: 3px;
			    }
			    &-item-50, &-item-25 {
			    	padding: 3px;
			    	width: 100%;
			    	margin: 10px 0px; 
			    	overflow: hidden;
			    }
			    &-item:first-child {
		    		width: 100%;
		    		border-bottom: 1px solid $light-border;
		    		margin: 0px;
	    			margin-bottom: 10px;
    			}
    			&-item:nth-child(2), &-item:nth-child(3)  {
		    		width: 100%;
		    		padding-left: 20px;
		    		margin: 0px;
		    		margin-bottom: 10px;
    			}
			}
			a {
				color: $text-color;
			}
		}
	}
}

@media screen and (min-width: $mq4) {
  	.adm-stats-details {
	    padding: 50px;
	}
}

@media screen and (min-width: $mq5) {
	.adm-stats-details {
		display: flex;
		display: -webkit-flex;
		webkit-flex-direction: row;
		flex-direction: row;
		justify-content: space-between;
		webkit-justify-content: space-between;
	}
}