.adv {

	&-article {
		max-width: 95%;
		padding-left: 10%;
	}

	&-container {
		margin: 0px;
		&-home {
			&_item {
				display: inline-block;
				width: 100%;
				background-color: $color3;
				color: $text-color;
				padding: 10px;
				height: $adv-home-h;
				background-size: cover;
				background-position: center center;
			h4 {
				display: inline-block;
				padding: 5px;
				background-color: rgba(255, 255, 255, 0.7);
			}
		}
		}
		
	}
	&-more {
		width: 80%;
		font-size: 1.3em;
	}
}

.ads{
	&-container{
		width: 100%;
	}
}

.advts-link {

		display: block;
		width: 33.33%;
		float: left;
	h3, h2, p {
		color: white;
		opacity: 0.6;
		&:hover, &:active, &:visited {
			color: white;
			text-decoration: none;
			opacity: 1;
		}
	}
	h3 {
		font-family: $font1;
	}
}
.advertise-sidebar-second {
	margin-left: 2.5%;
	margin-right: 0%;
}

.create-ad_form {
	.form-control:focus, .form-control:active:focus, .form-control.active:focus, .form-control.focus, .form-control:active.focus, .form-control.active.focus {
		border: 1px solid #ccc;
	}
}

//datepicker

.datepicker.dropdown-menu {
	width: 400px;
	max-width: 80%;
}
.datepicker td.active:hover, .datepicker td.active:hover:hover, .datepicker td.active:focus, .datepicker td.active:hover:focus, .datepicker td.active:active, .datepicker td.active:hover:active, .datepicker td.active.active, .datepicker td.active:hover.active, .datepicker td.active.disabled, .datepicker td.active:hover.disabled, .datepicker td.active[disabled], .datepicker td.active:hover[disabled] {
    color: #ffffff;
    background-color: $color2;
    background-image: none;
}

//MEDIA QUERIES

@media screen and (max-width: $mq3) {
	.advertise-sidebar-second {
		width: 95%;
	}
	h2 {
		word-wrap: break-word;	
	}
}	


@media screen and (max-width: $mq2) {
	.advts-link {
		width: 100%;
	}
}