.explain {

	width: 90%;
	padding-top: 20px;

	.steps {
		font-family: $font1;
		color: $color1;
		font-weight: 700;
	}

	.des {
		max-width: 90%;
	}

	.url {
		max-width: 90%;
		color: grey;
		margin-top: 5px;
		padding-bottom: 20px;
		font-style: italic;
	}
}