.apply {

}

.back {
    &-button {
        @extend %center;
        border: none;
        background-color: $color2;
        border-radius: 20px;
        color: white;
        text-align: center;
        width: 150px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-top: 20px;
    }
}