.banner {
    width: 100%;
    height: $banner-h;
    max-height: 100vh;
    background-image: url(/images/backgrounds/home.png);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    &-advertise {
      @extend .banner;
      background-image: url(/images/backgrounds/boostad.jpeg);
    }

    &-home {
      @extend .banner;
      background-image: url(/images/backgrounds/loggedin.jpeg);
    }

    &-admin {
      @extend .banner;
      background-image: url(/images/backgrounds/admin.jpg);
    }

    &-contest {
      @extend .banner;
      background-image: url(/images/backgrounds/competition.jpg);
    }

    &-api {
      @extend .banner;
      background-image: url(/images/backgrounds/api.jpeg);
    }

    &-darken {
      height: $banner-h;
      background: -webkit-linear-gradient(top, rgba(0,0,0,0.4), rgba(0,0,0,0));
      background: -o-linear-gradient(bottom, rgba(0,0,0,0.4), rgba(0,0,0,0));
      background: -moz-linear-gradient(top, rgba(0,0,0,0.4), rgba(0,0,0,0));
      background: linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0,0,0,0));
   }
    &-quote {
      text-align: center;
      font-family: $font2;
      font-size: 2.6em;
      color: $header-color;
      padding: 10px 10px 0px 10px;
      margin: 10% 0px 0px 0px;
      //text-shadow: 2px 2px rgba(#303030, 0.8);
      }

    &-underquote {
      text-align: center;
      font-family: $font3;
      color: $header-color;
      padding: 5px 20px;
      // margin: 10% 0px 0px 0px;
      font-size: 1.3em;            
    }


    &-registerbtn {
      margin: auto;
      display: table;
      margin: 20px auto 0px auto;
    }
}


///////// MEDIA QUERIES

@media screen and (max-width: $mq2) {
  .banner-underquote {
    display: none;        
  }
}