.contestbanner {
    width: 100%;
    height: 500px;	
	background-image: url('../../images/backgrounds/Competition.jpg');
    background-position: top;
    background-size: 100%;	
    background-position: cover;
    background-repeat: no-repeat;

    &-heading {
    	color: black;
    	font-size: 2.5rem;
    	@extend %center;
    	width: 500px;
    	padding-top: 30%;
    	font-family: $font1;
    }
}

.contest {

    padding-bottom: 40px;

    &-title {
        font-family: $font2;
        color: $color1;
        font-size: 3rem;
        padding-top: 2%;
    }

    &-explain {
        padding-top: 10px;
        padding-bottom: 20px;
    }
}

.contestants {
    width: 100%;

    &-work {
        width: 25%;
        height: 250px;
        background-color: blue;
    }
}












