.create-project_form, .edit-profile_form, .edit-project_form, .create-ad_form, .create-contest_form  {
	overflow: hidden;
	&-preview {
		@extend .shadow-box;
		text-align: center;
		margin: 10px;
		margin-bottom: 20px;
		width: 280px;
		height: 280px;
		background-color: #ccc;
		display: block;
	}
	&-preview-old {
		@extend .create-project_form-preview;
	}
}

@media screen and (max-width: $mq2) {
    .create-project_form, .edit-profile_form, .edit-project_form, .create-ad_form, .create-contest_form  {
		&-preview {
			width: 150px;
			height: 150px;
		}
	}
}