.footer {
	color: $footer-text;
	background-color: $footer-bg;
	padding: 30px 0;
	bottom: 0;
	&-logo {
		height: 50px;
		font-family: $font2;
		text-transform: uppercase;
		font-size: 1.5em;
	}
	&-credits_names {
		padding-left: 30px;
		font-weight: lighter;
		opacity: 0.8;
	}
}