.header {
	color: $header-color;
	display: block;
	clear: both;
	&-logo {
		display: block;
		float: left;
		width: 15%;
        height: 60px;
		margin: 30px 5% 30px 10%;
		background-image: url(/images/logos/logo-white.png);
        background-size: contain;
        background-position: left center;
        background-repeat: no-repeat;
        text-indent: -9999px;
		padding: 4px;
		font-size: 1.5em;
		}
	&-menu {
		list-style: none;
		display: inline-block;
		float: right;
		width: 60%;
		margin: 40px 10% 0px 0%;
		display: flex;
		display: -webkit-flex;
    	flex-direction: row;
    	-webkit-flex-direction: row; /* Safari 6.1+ */
    	flex-wrap: wrap;
    	-webkit-flex-wrap: wrap; /* Safari 6.1+ */
    	justify-content: flex-end;
    	-webkit-justify-content: flex-end; /* Safari 6.1+ */
    	padding: 0px;
		&-item {
			display: inline-block;
		}
		&_auth {
			display: inline-block;
			font-family: $font1;
			font-weight: 500;
			text-transform: uppercase;
			&-link, &-link:visited, &-link:link, &-link:active {
				color: $header-color;
				text-decoration: none;
				padding: 5px;
				
				-webkit-transition: color 0.3s ease-in-out;
			    -moz-transition: color 0.3s ease-in-out;
			    -ms-transition: color 0.3s ease-in-out;
			    -o-transition: color 0.3s ease-in-out;
			    transition: color 0.3s ease-in-out;
			    
			}
			&-link:hover
			{
				//color: $header-color;
				//border-bottom: 2px solid rgba($color1, 0.5);
				color: $color1;
				//background-color: $color1;
			}
		}
		&_my-profile {
			text-transform: capitalize;
			display: inline-block;
			font-weight: normal;
			&_logout {
				@extend .header-menu_auth;
				@extend .header-menu_auth-link;
			    &:hover {
			    	@extend .header-menu_auth-link:hover;
			    }
			}
			&_link {
				@extend .header-menu_my-profile_logout;
				text-transform: capitalize;
				font-weight: normal;

				&:hover {
					@extend .header-menu_my-profile_logout:hover;
					text-transform: capitalize;
					font-weight: normal;
				}
			}
		}
		&_form {
			font-family: $font1;
			display: inline;
			padding-right: 20px;
			&-search {
				background-color: $transparent;
				border: 1px solid $header-color;
				border-radius: $btn-rad;
			
			}
			&-addon {
				background-color: $transparent;
				border: none;
			}
			&-input {
				width: auto;
				background-color: $transparent !important;
				border: none !important;
				color: $header-color;
				font-style: normal;
				color: $header-color !important;
				opacity: 1;
				font-weight: normal;
				&::-webkit-input-placeholder {
				   font-style: italic;
				   color: $header-color !important;
				   font-weight: lighter;
				}
					&:-moz-placeholder { /* Firefox 18- */
					   font-style: italic;
					   color: $header-color !important;
					   font-weight: lighter;
					}
					&::-moz-placeholder {  /* Firefox 19+ */
					   font-style: italic;
					   color: $header-color !important;
					   font-weight: lighter; 
					}
					&:-ms-input-placeholder {  
					   font-style: italic;
					   color: $header-color !important;
					   font-weight: lighter;
					}
			}
		}
		&_icon {
			height: 18px;
		}
	}
}
.header-menu_form-toggle-icon{
	display: none;
}

@media screen and (min-width: $mq2) and (max-width: $mq3) {
	.header {
		&-logo {
			width: 20%;
	        height: 60px;
			margin: 30px 5% 30px 5%;
			}
		&-menu {
			width: 65%;
			margin: 40px 5% 0px 0%;
		}
	}
}

@media screen and (min-width: $mq1) and (max-width: $mq2) {
	.header-logo {
		width: 30%;
		margin: 30px 5% 30px 5%;
    }
    .header-menu {
    	width: 55%;
    	margin: 40px 5% 0px 0%;
    	flex-direction: row-reverse;
    	-webkit-flex-direction: row-reverse; /* Safari 6.1+ */
    	flex-wrap: wrap-reverse;
    	-webkit-flex-wrap: wrap-reverse; /* Safari 6.1+ */
    	justify-content: flex-start;
    	-webkit-justify-content: flex-start; /* Safari 6.1+ */
    	align-items: baseline;
    	-webkit-align-items: baseline;
    }
    .header-menu_form-toggle {
	    margin: 0px 10px;
	}	
    .form-control.header-menu_form {
    	width: 100%;
	}
	.header-menu_form-toggle {
		display: none;
	}
	.header-menu_form-toggle-icon{
		display: block;
		margin-left: 20px;
	}
}

@media screen and (max-width: $mq1) {
	.header {
		width: 100%;
    	padding: 5px;

	}
	.header-logo {
		float: none;
		display: block;
		width: 100%;
        height: 60px;
		margin: 0px;
		margin-top: 20px;
		background-image: url(/images/logos/logo-white.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        text-indent: -9999px;
		padding: 0px;
		font-size: 1.5em;
		}
    .header-menu {
    	float: none;
    	margin: 0px;
    	padding: 5px;
    	margin-top: 15px;
    	width: 100%;
    	padding: 0px;
    	display: flex;
    	display: -webkit-flex;
    	flex-direction: row-reverse;
    	-webkit-flex-direction: row-reverse; /* Safari 6.1+ */
	    justify-content: space-around;
	    -webkit-justify-content: space-around; /* Safari 6.1+ */
	    flex-wrap: wrap-reverse;
	    -webkit-flex-wrap: wrap-reverse; /* Safari 6.1+ */
    }
    .header-menu_form-toggle {
	    margin: 0px 10px;
	}	
	.header-menu_form-toggle {
		display: none;
	}
	.header-menu_form-toggle-icon{
		display: block;
	}
}