main {
  flex:1;
  -webkit-flex: 1; /* Safari 6.1+ */
    -ms-flex: 1; /* IE 10 */ 
  .content {
    &-spotlight {
      padding-top: 5%;
      width: 100%;
      margin-top: 20px;;
      margin-bottom: 50px;
      &-link {
        text-decoration: none;
        &:hover {
          text-decoration: none;
        }
      }
      &-section {
        margin: 20px 0px;
      } 
      &-item {
        background-color: white;
        padding: 10px;
        margin: 0px 1% 10px 1%;
        display: inline-block;
        @extend .shadow-box;
        &_image {
          width: 100%;
        }
        &_info {
          &-namedesign {
            color: $text-color;
            text-transform: uppercase;
            font-weight: bolder;
            padding-top: 10px;
            margin-bottom: 0px;
            text-decoration: none;
            &:hover, &:active, &:link, &:visited {
              @extend .content-spotlight-item_info-namedesign;
            }
          }

          &-author {
            color: $text-color;
            padding-top: 10px;
            text-decoration: none;
            &:hover, &:active, &:link, &:visited {
              @extend .content-spotlight-item_info-author;
              text-decoration: underline;
            }
          }
          &-tools {
            justify-content: flex-start;
            -webkit-justify-content: flex-start; /* Safari 6.1+ */
            margin-left: 0px;
            -webkit-margin-before: 0em;
            -webkit-margin-after: 0em;
            -webkit-margin-start: 0px;
            -webkit-margin-end: 0px;
            -webkit-padding-start: 0px;
            li {
              list-style-type: none;
              display: inline-block;
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
}


@media screen and (max-width: $mq0) {
  main {
    .content {
      &-spotlight {
        &-item {
          width: 80%;
          margin: 0px 10% 10px 10%;
        }
      }
    }
  }
}
@media screen and (min-width: $mq0) and (max-width: $mq2) {
  main {
    .content {
      &-spotlight {
        &-item {
          width: 48%;
          margin: 0px 0.5% 10px 0.5%;
        }
      }
    }
  }
}
@media screen and (min-width: $mq2) and (max-width: $mq5) {
  main {
    .content {
      &-spotlight {
        &-item {
          width: 31%;
          margin: 0px 0.5% 10px 0.5%;
        }
      }
    }
  }
}

@media screen and (min-width: $mq5) {
  main {
    .content {
      &-spotlight {
        &-item {
          width: 23%;
          margin: 0px 0.5% 10px 0.5%;
          &_image {
            width: 100%;
          }
        }
      }
    }
  }
}

@media screen and (min-width: $mq6) {
  main {
    .content {
      &-spotlight {
        &-item {
          width: 18%;
          margin: 0px 0.5% 10px 0.5%;
          &_image {
            width: 100%;
          }
        }
      }
    }
  }
}