.switch-profiles {
	&_panel {
		margin-top: 50px;
		padding: 20px;
	}
	&_img {
		display: block;
		float: left;
		opacity: 0.4;
		height: $icon-height;
	}
	&_msg {
		display: block;
		float: left;
		padding-left: 15px;
		margin-top: $icon-height/4;
	}
	
}