.preview {
 	&-user {
 		width: 160px;
		height: 160px;
		margin-left: auto;
		margin-right: auto;
		display: block;
		border-radius: 5%;
 	}
 	&-project {
 		width: 450px;
		height: auto;
		margin-left: auto;
		margin-right: auto;
		display: block;
		border-radius: 5%;
 	}
 	&-project-big {
 		@extend .preview-project;
 		width: 500px;

 	}
		
}
.mini-hero-unit {
    padding: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 200;
    line-height: 30px;
    color: inherit;
    background-color: #eee;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.profile-picture {
	&_account {
		width: 300px;
		height: 300px;
		border-radius: 5%;
	}
	&_mini {
		width: 30px;
		height: 30px;
		border-radius: 15%;
	}
	&_preview {
		width: 160px;
		height: 160px;
		margin-left: auto;
		margin-right: auto;
		display: block;
		border-radius: 5%;
	}
}

.account-info {
	label {
		font-weight: 700;
	}
}

.list-group {
	margin: 20px 10px 10px 10px;
}

.dropdown-menu {
	width: 100%; 
	& li>a {
    	display: inline;
   		color: #08c;
    	text-decoration: none;
	}
	& li>a:hover, & li>a:focus {
		background-color: white;
		background-image: none;
    	color: #005580;
    	text-decoration: underline;
	}
}


.dropdown-title {
	&::after {
		content: " ";
		display: inline-block;
	    width: 16px;
	    height: 16px;
	    opacity: 0.8;
	    background-image: url('http://localhost/1353/graphics/dropdown.png');
	}
	&:hover {
		cursor: pointer;
	}
}

nav {
	background-color: white;
	border-bottom: 1px solid #ccc;
}
.nav-tabs.nav-justified {
	width: 90%;
	margin-left: 5%;
}
.nav-item {
	&-link  {
		padding: 20px 0px;
		color: $text-color;
		font-family: $font1;
		font-weight: 700;
		text-transform: uppercase;
		background-color: transparent;
		border-bottom: 1px solid $transparent !important;
		-webkit-transition: color 0.5s ease-in-out;
	    -moz-transition: color 0.5s ease-in-out;
	    -ms-transition: color 0.5s ease-in-out;
	    -o-transition: color 0.5s ease-in-out;
	    transition: color 0.5s ease-in-out;
		&:active, &:link, &:visited, &:hover {
			@extend .nav-item-link
		}
		&:hover {
		border-color: $transparent;
		color: $color2;	
		background-color: transparent !important;
		}
	}
}

@media screen and (min-width: $mq2){
	.nav-toggle-icon {
		display: none;
	}
	.nav-toggle-me {
		display: none;
	}
}

@media screen and (max-width: $mq2){
	.nav-toggle {
		display: none;
	}
	.nav-toggle-icon:active, .nav-toggle-icon:visited {
		color: $text-color;
	}
}