.newsletter {
  background-color: white;
  text-align: center;
  width: 100%;
  &-title {
    @extend %center;
    margin: 30px 5%;
    max-width: 90%;
  }
  &_form {
  	display: table;
    max-width: 100%;
  	margin: 0px auto;
  	&-input {
  		min-width: 270px;
  		line-height: 1.1em;
  		border-radius: $btn-rad;
  		margin-right: 15px;
  		height: 45px;
  		padding-left: 20px;
  		border: 1px solid rgba($text-color, 0.6);
  		&::-webkit-input-placeholder {
		   font-style: italic;
		  }
  		&:-moz-placeholder { /* Firefox 18- */
  		   font-style: italic;
  	   	}
  		&::-moz-placeholder {  /* Firefox 19+ */
  		   font-style: italic;
  		}
  		&:-ms-input-placeholder {  
  			font-style: italic;
  		}
  		&:focus {
  			border: 1px solid $text-color;
		  }
  	}
  }
}

@media screen and (max-width: $mq2) {
  .newsletter_form-input {
    margin-bottom: 20px;
  }
  #mc_embed_signup_scroll {
    max-width: 100%;
  }
}