.profiles {
	&-tile {
		min-height: $profile-tile;
		.content-spotlight-item_info {
			width: 100%;
			background-color: white;
		}
		.content-spotlight-item_image {
		}
	}
}
.profile {
	&-top {
		margin-top: 10px;
		display: flex;
		display: -webkit-flex;
		flex-direction: row;
		-webkit-flex-direction: row; /* Safari 6.1+ */
		justify-content: space-between;
		-webkit-justify-content: space-between; /* Safari 6.1+ */
		align-content: center;
		-webkit-align-content: center;
		flex-wrap: wrap; 
		-webkit-flex-wrap: wrap; /* Safari 6.1+ */
		align-items: stretch;
		-webkit-align-items: stretch;
		&-btn {
			margin-top: 15px;
			display: inline-block;
		}
		&-left {
			width: 30%;
			text-align: center;
		} 
		&-right {
			width: 60%;
		    margin-left: 10%;
		    display: flex;
		    display: -webkit-flex;
		    flex-direction: column;
		    -webkit-flex-direction: column; /* Safari 6.1+ */
		    align-content: space-around;
		    -webkit-align-content: space-around;
		    justify-content: center;
		    -webkit-justify-content: center; /* Safari 6.1+ */
		    a {
		    	color: grey;
		    }
    	} 
	}
	&-text {
		color: $text-light;
		font-weight: bold;
	}
	&-sidebar {
		&-second {
			margin-right: 0%;
	    	margin-left: 2.5%;
		}
		&-first {
			@extend .shadow-box;
		}
		}
	&-picture {
		width: $profilepicture;
		height: $profilepicture;
		border-radius: 50%;
		margin: 20px auto;
		display: block;
		&-thumbnail {
			border-radius: 50%;
			width: $profilepicture-thumb;
			height: $profilepicture-thumb;
		}
		&-small {
			border-radius: 50%;
			width: $profilepicture-small;
			height: $profilepicture-small;
		}
	}
	&-info {
		text-align: left;
		list-style: none;

		&-more {
			list-style: none;
		    -webkit-margin-before: 0em;
		    -webkit-margin-after: 0em;
		    -webkit-margin-start: 0px;
		    -webkit-margin-end: 0px;
		    -webkit-padding-start: 0px;
		    margin: 20px 0px 20px 0px;
		}
		&-basic {
			@extend .profile-info-more;
		    
		}
		&-extra {
			display: flex;
			display: -webkit-flex;
			flex-direction: row;
			-webkit-flex-direction: row; /* Safari 6.1+ */
			justify-content: space-between;
			-webkit-justify-content: space-between; /* Safari 6.1+ */
		}
		&-toggle {
			display: flex;
			display: -webkit-flex;
			flex-direction: column;
			-webkit-flex-direction: column; /* Safari 6.1+ */
			justify-content: space-between;
			-webkit-justify-content: space-between; /* Safari 6.1+ */
		}
		&-exp {
			color: $color2;
			font-size: 14px;
			font-family: $font1;
			text-transform: capitalize;
			padding: 3px;
		}
		&_list-links {
			list-style: none;
			display: flex;
			display: -webkit-flex;
			justify-content: flex-end;
			-webkit-justify-content: flex-end; /* Safari 6.1+ */
			flex-direction: row;
			-webkit-flex-direction: row; /* Safari 6.1+ */
			&-item {
				padding: 0px 10px 0px 10px;
			}
		}
		&_statistics {
			padding-left:0px;
			& li {
				margin:  5px 20px;
			    list-style: none;
			    display: inline-block;
				& span {
					display: block;
					clear:left;
				}
			}
		}
		&_list {
			list-style: none;
			padding: 0px 10px;
			width: 100%;
			word-wrap: break-word;
		}
		&_account {
			text-align: left;
			list-style: none;
			padding-left: 0px;
			word-wrap: break-word;
		}
		&_nav {
			float: right;
			display: block;
			padding: 20px;
		}
		&_edit {
			margin-top: 50px;
			
		}
		&_form {
			@extends .profile-info;
			text-align: left;
			padding-left: 50px;
			padding-right: 50px;
		}
		&_bio {
			display: block;
			text-align: left;
			margin-top: 10px;
		}
		&-badges {
			list-style: none;
			padding-left:0px;
			text-align: left;
			&_badge{
				margin: 10px 0px;
			}
			&_info{
				font-style: italic;
				opacity: 0.5;
			}
		}
	}
}

.profile-sidebar-first a {
	@extend .subtle-link;
}

.profile-info_edit-btn {
	margin: 20px auto;
}

.btn-delete-confirm {
	margin-bottom: 5px;
}

.myboost {
	padding-left:0px;
	&-li {
		list-style: none;
		margin-top: 20px;
		clear: both;
		display: flex;
		display: -webkit-flex;
		height: $boost-img+2px;
		@extend .shadow-box;
	}
	&-img {
		display: block;
		float: left;
		height: $boost-img;
		width: $boost-img;
	}
	&-info {
		list-style: none;
		padding-left: 0px;
		padding-top: $boost-img/2;
		display: block;
		float: left;
		flex:1;
		-webkit-flex: 1; /* Safari 6.1+ */
    	-ms-flex: 1; /* IE 10 */ 
		& li {
			display: inline;
			margin-left: 20px;
			text-align: center;
			a {
				display: inline-block;
			}
		}
		&_title {
			text-transform: uppercase;
			color: #333;
			margin-bottom: 15px;
			&:hover{
				color:#333;
				text-decoration: none;
			}
		}
	}
}

.content-spotlight-item_info-tools {
	display: flex;
	display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row; /* Safari 6.1+ */
    justify-content: space-between;
    -webkit-justify-content: space-between; /* Safari 6.1+ */
    align-items: baseline;
    -webkit-align-items: baseline;
    margin-top: 5px;
}


.collapse-delete-form.in {
	width: 90%;
	margin: 20px 5%;
}

.favourites, .follow {
	list-style: none;
	padding-left: 0px;
	width: 100%;
	&-title {
		display: block;
		clear: both;
	}
	&-item {
		display: block;
		float: left;
		width: 18%;
		margin: 20px 0;
		&_image {
			width: 100%;
		}
		&_next {
			display: block;
			float: left;
			width: 10%;
			margin-top: 5%;
			font-size: 3em;
			text-align: center
		}
	}
}

.favourites-container, .followers-container, .followings-container, .sharedlikes-container {
	margin-bottom: 20px;
	.gallery-link {
		color: $color3;
		font-weight: bold;

	}
}

.second-nav {
	border-bottom: 0px;
	margin:0px;
	margin-top: 20px;
	border-top: 1px solid rgba(#ccc, 0.2);
	-webkit-box-shadow: 0 0 10px rgba(#ccc, 0.3);
 	box-shadow: 0 0 10px rgba(#ccc, 0.3);
	
	&bar {
		list-style: none;
		-webkit-margin-before: 0em;
	    -webkit-margin-after: 0em;
	    -webkit-margin-start: 0px;
	    -webkit-margin-end: 0px;
	    -webkit-padding-start: 0px;
	    width: 80%;
		margin-left: 10%;
		display: flex;
		display: -webkit-flex;
		flex-direction: row;
		-webkit-flex-direction: row; /* Safari 6.1+ */
		justify-content: space-between;
		-webkit-justify-content: space-between; /* Safari 6.1+ */
		&-item {
			text-align: center;
			&-link {
				color: $color3;
				display: block;
				padding: 20px 0px;
				position: relative;
				&:hover, &:active, &:visited {
					color: $color3;
					text-decoration: none;
				}
			}
		}
	}
}
.sec-container {
	padding-top: 40px;
	background-color: $light-bg;
}

.bubble-tip {
	&:after {
		content: '';
		position: absolute;
		border-style: solid;
		border-width: 17px 17px 0;
		border-color: #FFFFFF transparent;
		display: block;
		width: 0;
		z-index: 1;
		bottom: -15px;
		left: 20px;
	}
}


@media screen and (min-width: $mq4) {
    .profile {
    	&-top {
    		width: 80%;
    		margin-left: 10%;
    	}
	}
}

@media screen and (max-width: $mq4) {
	.second-nav {
		&bar {
			width: 90%;
			margin-left: 5%;
		}
	}
}

@media screen and (min-width: $mq2) {
	.second-nav {
		&bar {
			align-content: flex-start;
			-webkit-align-content: flex-start;
		}
	}
}

@media screen and (max-width: $mq2) {
	.second-nav {
		&bar {
			flex-wrap: wrap;
			-webkit-flex-wrap: wrap; /* Safari 6.1+ */
		}
	}
}

@media screen and (max-width: $mq1) {
    .profile {
		&-top {
			margin-top: 10px;
			display: flex;
			display: -webkit-flex;
			flex-direction: column;
			-webkit-flex-direction: column; /* Safari 6.1+ */
			justify-content: space-between;
			-webkit-justify-content: space-between; /* Safari 6.1+ */
			align-content: flex-start;
			-webkit-align-content: flex-start;
			flex-wrap: wrap; 
			-webkit-flex-wrap: wrap; /* Safari 6.1+ */
			align-items: stretch;
			-webkit-align-items: stretch;
			&-btn {
				margin-top: 15px;
				display: inline-block;
			}
			&-left {
				width: 90%;
				margin-left: 5%;
				text-align: center;
			} 
			&-right {
				width: 90%;
			    margin-left: 5%;
			    display: flex;
			    display: -webkit-flex;
			    flex-direction: column;
			    -webkit-flex-direction: column; /* Safari 6.1+ */
			    align-content: space-around;
			    -webkit-align-content: space-around;
			    justify-content: center;
			    -webkit-justify-content: center; /* Safari 6.1+ */
			    a {
			    	color: grey;
			    }
	    	}
		}
		&-info {
			&-exp {
				clear: left;
				display: inline-block;
			}
			&-extra {
				display: block;
			} 
			&_list-links {
				margin-left: 0px;
				margin-top: 10px;
				justify-content: flex-start;
				-webkit-justify-content: flex-start; /* Safari 6.1+ */
				&-item {
					padding: 10px 10px 10px 0px;
				}
			}
		}
	}
}