.form {

	&-user {
		margin-top: 20px;
		float: right;
		display: inline;
	}
	&-adm {
		margin-top: 20px;
		float: right;
		display: block;
		height: 50px;
		margin-top: 30px;
	}
	&-vote {
		float: left;
	}
}

.alert {
	color: white;
	border: none;
    z-index: 101;
    top: 0;
    left: 0;
    right: 0;
    background: #303030;
    text-align: center;
    line-height: 2.5;
    border-radius: 0px;
}

.collapse in{

}

.btn-user, .btn-adm {
	text-indent: -99999px;
	display: block;
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	padding: 5px 30px !important;
	background-color: $transparent;
	border-color: $transparent;
	opacity: 0.8;
	&-small {
		padding: 5px 10px !important;
	}
	&:focus{
		outline: 0;
	}
	&-vote {
		background-image: url('../../images/icons/vote.png') !important;
		margin: 0px auto;
		display: block;
		clear: both;
		height: 34px;
		float: left;
		margin-left: auto;
		margin-right: auto;
		&_label {
			text-align: right;
			width: 100%;
			font-weight: normal;
			font-style: italic;
		}
		&_count {
			text-align: center;
			width: 100%;
			display: block;
			clear: both;
		}

	}
	&-votes {
		& .btn-user-heart { 
			@extend .btn-user-vote;
			padding: 20px !important;
			background-image: url('../../images/icons/voted.png') !important;
		
		}
		display: block;
	    float: left;
	    clear: left;
	    text-align: center;
	}
	&-edit {
		background-image: url('../../images/icons/edit.png') !important;
		display: inline-block;
	}
	&-delete {
		background-image: url('../../images/icons/delete.png') !important;
		background-size: 35% !important;
		display: inline-block;
	}
}
.hearted {
	background-image: url('../../images/icons/voted.png') !important;
}
.alert {
	&-vote {
		clear: both;
		float: left;
		margin-top: 20px;
	}
	&-admin {

	}

}
.project{
	width: 80%;
	margin-left: 10%;
	&-image {
		width: 100%;
	}
	&-title {
		width: auto;
		float: left;
		display: block;
	}
	&-user {
		width: auto;
		float: left;
		display: block;
		padding-top: 10px;
		padding-bottom: 20px;
		a {
			color: $color3;
		}
	}
}

.tag {
	padding: 10px;
	border: 2px solid $color2;
	margin: 5px;
	display: block;
	float: left;
	border-radius: 25px;
	-webkit-transition: background-color 0.5s ease-in-out;
    -moz-transition: background-color 0.5s ease-in-out;
    -ms-transition: background-color 0.5s ease-in-out;
    -o-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
	a {
		color: $tag-text;
	}
	&:hover, &:active, &:visited {
		background-color: $color2;
		a {
			color: white;
			text-decoration: none;
		}
	}
}

.colour-palette {
	width: 80%;
	padding-bottom: 20px;
	margin: 20px 10% 20px 10%;
	&-item {
		width: 30%;
		height: 20px;
		float: left;
		display: inline;
	}
}
.designer-info {
	text-align: center;
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	-webkit-flex-direction: column; /* Safari 6.1+ */
	justify-content: space-between;
	-webkit-justify-content: space-between; /* Safari 6.1+ */
	&-locatie {
		line-height: 1.3em;
		font-style: italic;
		color: $text-color;
		text-decoration: none;
	}
	&-name {
		font-family: $font2;
		color: $text-color;
		font-size: 1.3em;
	}
	&-img {
		width:40%;
		height: 40%;
		border-radius: 50%;
	}
	&-more {
		text-align: center;
		&-gallery {

			&-item {
				@extend .shadow-box;
				width: 46%;
				margin: 2%;
				border: 1px solid $tag-border;
				float: left;
				padding: 0px;
				display: block;
			}
		}
	}
}
.designer-container {
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	-webkit-flex-direction: column; /* Safari 6.1+ */
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: 1px solid $tag-border !important;
    outline: 0;
}
.container.select2-container--default.select2-container--below {
	border: 1px solid $tag-border !important;
}

.comment {
	&-div {
		width: 100%;
		clear: left;
		display: block;
		margin-top: 20px;
	}
	&-body {
		width: 83%;
		float: left;
		background: $comment-bg;
		border: 1px solid $comment-border;
		border-radius: 4px;
		position: relative;
		padding: 10px;
				
		&-name {
			font-weight: bold;
		}
		&-body {

		}
		&:after, &:before {
		  content: "";
		  height: 0;
		  width: 0;
		  position: absolute;
		  left: 0;
		}
		&:after {
		  border-top: 10px solid transparent;
		  border-bottom: 10px solid transparent;
		  border-right: 10px solid $comment-bg;
		  bottom: 35px;
		  margin-left: -10px;
		  z-index: 2;
		}
		&:before {
		  border-top: 12px solid transparent;
		  border-bottom: 12px solid transparent;
		  border-right: 12px solid $comment-border;
		  bottom: 33px;
		  margin-left: -12px;
		  z-index: 1;
		}
	}
	&-picture {
		width: 15%;
		height: 80%;
		margin-right: 2%;
		float: left;
		display: inline-block;
		&-img {
			width: 90%;
			margin-top: 5%;
			border-radius: 50%;
		}
	}
	&_form {
		display: flex;
		display: -webkit-flex;
		&-input {
			flex: 1;
			-webkit-flex: 1; /* Safari 6.1+ */
            -ms-flex: 1; /* IE 10 */ 
			height: 43px;
			border-radius: $btn-rad;
		}
		.form-control:focus, .form-control:active:focus, .form-control.active:focus, .form-control.focus, .form-control:active.focus, .form-control.active.focus {
			border: 1px solid #ccc;
		}
		&-btn {
			width: auto;
			margin-left: 15px;
		}
	}
}

.comments-render {
	list-style: none;
	padding-left:0px;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	&-item {
		list-style: none;
	}
}

.form-vote {
	display: inline-block;
}

.chat {
    width: 400px;
}

.create-project_form, .create-tag_form, .edit-profile_form, .edit-project_form, .create-ad_form, .create-contest_form  {
	padding-bottom: 20px;
	&-input {
		&:focus {
			border: 1px solid $color1;
		}
	}
	&-label {
		margin-top: 10px;
	}
	input[type="file"]::-webkit-file-upload-button {
	    @extend .btn-small;
	    border-radius: 4px;
	    /*color: buttontext;
	    padding: 2px 6px 3px;
	    border: 2px outset buttonface;
	    border-image-source: initial;
	    border-image-slice: initial;
	    border-image-width: initial;
	    border-image-outset: initial;
	    border-image-repeat: initial;
	    background-color: buttonface;
	    box-sizing: border-box;*/
	}
	&-check {
		font-weight: normal;
	}
}

div#collapseDeleteForm {
    text-align: center;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: white;
    border: 2px solid $color1;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0 5px;
}

@media screen and (max-width: $mq2) {
    .create-project_form, .edit-profile_form, .edit-project_form, .create-ad_form, .create-contest_form  {
		&-preview {
			width: 2/3*400px;
			height: 2/3*300px;
			display: block;
		}
	}
}

.project-detail-page {
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	-webkit-flex-direction: row; /* Safari 6.1+ */
	background-color: $light-bg;
}

.project {
	&-block {
		width: 50%;
		margin: 30px 5%;
		padding: 20px;
		float: left;
		display: inline-block;
		background-color: white;
	}
	&-sidebar {
		float: left;
		width: 40%;
		padding: 20px;
		display: inline-block;
		background-color: white;
		border-left: 1px solid #ccc;
	}
	&-title {
		&-block {	
		}
	}
	&-top {
		display: flex;
		display: -webkit-flex;
		flex-direction: row;
		-webkit-flex-direction: row; /* Safari 6.1+ */
		justify-content: space-between;
		-webkit-justify-content: space-between; /* Safari 6.1+ */
		margin-bottom: 10px;
	}
	&-form-block {
	    display: flex;
	    display: -webkit-flex;
	    flex-direction: row;
	    -webkit-flex-direction: row; /* Safari 6.1+ */
	    align-items: center;
	    -webkit-align-items: center;
	}
}

.comments-container {
		display: none;
}
.toggle-comments-container {
	display: block !important;
}


///////// MEDIA QUERIES

@media screen and (max-width: $mq1) {
	.comment_form {
		flex-direction: column;
		-webkit-flex-direction: column; /* Safari 6.1+ */
		justify-content: center;
		-webkit-justify-content: center; /* Safari 6.1+ */
		&-btn {
			margin-left: 0px;
			margin-top: 10px;
		}
	}
}

@media screen and (max-width: $mq3) {
    .project-detail-page {
		flex-direction: column;
		-webkit-flex-direction: column; /* Safari 6.1+ */
	}

	.project {
		&-block {
			width: 90%;
			margin: 15px 5%;
			padding: 20px;
			background-color: white;
		}
		&-sidebar {
			float: left;
			width: 100%;
			padding: 20px;
			border-top: 1px solid #ccc;
		}
	}
	.comment-title-span {
		display: none;
	}
}

@media screen and (max-width: $mq4) {
	.project-top {
		flex-direction: column;
		-webkit-flex-direction: column; /* Safari 6.1+ */
		justify-content: space-around;
		-webkit-justify-content: space-around; /* Safari 6.1+ */
	}  
	.project-title-block {
		width: 100%;
	}
	.project-form-block {
		width: 100%;
	}
}

