.box {
	border: 1px solid $tag-border;
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 80px;
	margin-bottom: 80px;
	display: block;
	float: left;
	background-color: white;
	&-small {
		width: 39%;
		float: left;
		display: inline;
		background-color: white;
	}
	&-big {
		width: 60%;
		float: left;
		display: inline;
		padding: 30px;
		border-left: 1px solid $tag-border;
		background-color: white;
	}
	&-logo {
		width: 60%;
		margin-left: 20%;
		margin-top: 50px;
	}
	&-quote {
		text-align: center;
		font-weight: bold;
		width: 60%;
		margin-left: 20%;
	}
	&-list {
		display: block;
		line-height: 3.5em;
		margin-top: 40px;
	}
	&-icon {
		height: 1.3em;
	}
}

.box-side {
	@extend .box;
	width: 40%;
	max-width: 500px;
	margin-left: 50%;
	margin-right: 10%;
}
.container-img {
	background-image: url(/images/backgrounds/bgbanner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    // height: 100%;
    min-height: 100vh;
    background-attachment: fixed;
}
.btn-register {
	display: block !important;
    margin: 30px auto 30px auto !important;
	&-wrapper {
		width: 100%;
	}
}

.register-form {
	margin-top: 40px;
	&-addon {
		opacity: 0.8;
		background-color: $transparent !important;
		border-color: $transparent !important;
		&-label {
			@extend .register-form-addon;
			opacity: 1;
		}
	}
	&-group {
		border-bottom: 1px solid $text-color;
	}
	&-input {
		border-color: $transparent !important;
		box-shadow: $transparent 0px 0px 0px 0px inset !important; 
	}
	&-link {
		text-align: center;
	}
	&-label {
		
	}
}

@media screen and (max-width:$mq4) and (min-width:$mq3) {
    .box {
		width: 80%;
		margin-left: 10%;
		margin-right: 10%;
		&-list {
			display: block;
		}
	}
}

@media screen and (max-width: $mq3) {
    .box {
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
		&-small {
			width: 100%;
		}
		&-big {
			width: 100%;
			border-left: 0px solid $tag-border;
		}
		&-logo {
			width: 60%;
			margin-left: 20%;
			margin-top: 50px;
		}
		&-quote {
			text-align: center;
			font-weight: bold;
			width: 80%;
			margin-left: 10%;
		}
		&-list {
			display: none;
		}
	}
}