.search-container-result {
	width: 30%;
	margin: 1.5%;
	display: block;
	float: left;
	border: 1px solid $tag-border;
	height: 300px;
	overflow: hidden;
	&-big {
		@extend .search-container-result;
	}
	&-big-image {
		width: 100%;
		margin-top: -100px;
	}
	&-tag-image {
		width: 100%;
		margin-top: -100px;
	}
	&-image {
		width: 100%;
	}
	&-info {
		padding: 10px;
	}
	&-user {
		@extend .search-container-result;
	}
	&-title {
		color: $text-color;
	}
}

.search-options {
	color: grey;
	float: right;
	text-decoration: none;
	position: relative;
	top: -40px;
	&:hover, &:active, &:link, &:visited {
		@extend .search-options;
	}
	&-icon {
		@extend .search-options;
		opacity: 0.5;
		margin-right: 10px;
		margin-top: 2px;
	}
}

.form-search-options {
	padding-top: 20px;
	padding-bottom: 20px;
}

@media screen and (max-width: 600px) {
    .search-container-result {
		width: 48%;
		margin: 1%;
		display: block;
		float: left;
		border: 1px solid $tag-border;
		height: 300px;
		overflow: hidden;
		&-tag-image {
			width: 100%;
			margin-top: -100px;
		}
		&-big-image {
			width: 100%;
			margin-top: -100px;
		}
		&-big {
			width: 48%;
			margin: 1%;
			display: block;
			float: left;
			border: 1px solid $tag-border;
			height: 300px;
			overflow: hidden;
		}
		&-image {
			width: 100%;
		}
		&-info {
			padding: 10px;
		}
	}
}
@media screen and (min-width: 1150px) {
    .search-container-result {
		width: 18%;
		margin: 1%;
		&-user {
			img {
				margin-top: -20px;
			}
		}
	}
}

@media screen and (min-width: 1300px) {
    .search-container-result {
		&-user {
			img {
				margin-top: -50px;
			}
		}
	}
}