.socialcontainer {
  height: $socialmedia-h;
  background-image: url(/images/backgrounds/social-media.png); 
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  zoom: -10;
  background-position: center;
  &-darken {
    height: $socialmedia-h;
    padding: 50px;
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(255, 255, 255, 0.3));
    background: -o-linear-gradient(bottom, rgba(0,0,0,0.5), rgba(255, 255, 255, 0.3));
    background: -moz-linear-gradient(top, rgba(0,0,0,0.5), rgba(255, 255, 255, 0.3));
    background: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(255, 255, 255, 0.3));
  }
}
.socialmedia {
  &-title {
    color: white;
    text-align: right;
    padding-bottom: 20px;
    padding-top: 3*($socialmedia-h/7);
  }
  &-icons {
    float: right;
    width: 60%;
    padding-left: 0px;

    li {
      list-style-type: none;
      float: right;
      width: 10%;
      text-align: center;

        .icon {
          width: 50px;
          height: 50px;
          @extend %center;
          @include border-radius(50px);
        }

        .facebook {
          background-image: url("/images/logos/facebook.png");
          background-size: 50px 50px;
        }

        .twitter {
          background-image: url("/images/logos/twitter.png");
          background-size: 50px 50px;
        }

        .instagram {
          background-image: url("/images/logos/instagram.png");
          background-size: 50px 50px;
        }

        .linkedin {
          background-image: url("/images/logos/linkedin.png");
          background-size: 50px 50px;
        }

    }
  }

}

@media screen and (max-width: $mq2) {
  .socialcontainer {
    height: $socialmedia-h-m;
    background-position: left center;
    &-darken {
      height: $socialmedia-h-m;
      max-width: 100%;
    }
  }
  .socialmedia-title {
    padding-top: $socialmedia-h-m/8;
  }
  .socialmedia-icons {
    width: 90%;
  }

}