.welcome {
	text-align: center;
	margin-top: 10%;
	color: white;
	//color: $header-color;	// only in banner (1/3)
	&-title {
		padding-top: 20px;
		font-family: $font2;
		font-weight: 200;
	}
	&-logo {
		font-family: $font2;
		text-transform: uppercase;
	}
	&-msg {
		margin-top: 20px;
		margin-bottom: 20px;
		line-height: 1.8em;
	}
	&-btns {
		margin: auto;
		display: table;
		&-left {
			float: left;
			display: inline-block;
		}
		&-right {
			float: left;
			display: inline-block;
		}
	}
	&-reset {
		margin-top: 15px;
		display: inline-block;
		//color: $header-color;	// only in banner (2/3)
		//&:hover { color: $header-color;} 	// only in banner (3/3)
	}
	&-span {
		font-style: italic;
		padding: 0px 10px;
	}
}

.contesthightlight {
	
	padding-top: 5%;
	width: 100%;
	height: 240px;

	&-winner {
		
		width: 33.33%;
		padding-top: 20px;
		display: block;
		float: left;

		&-gold, &-silver, &-bronze {
		width: 0; 
		height: 0; 
		border-left: 20px solid transparent;
		border-right: 20px solid transparent;
		margin: -3px 0px 0px -27px;
		transform: rotate(45deg);
		position: absolute;
		display: inline;
		}

		&-gold {
			border-bottom: 20px solid #FFD700;
		}

		&-silver {
			border-bottom: 20px solid #c0c0c0;			
		}	

		&-bronze {
			border-bottom: 20px solid #cd7f32;		
		}				

		&-image {
			height: 140px;
			float: left;
		}

		&-textbox {
			@extend .shadow-box;
			padding: 15px;
			width: 160px;
			height: 140px;
			float: left;

			&-namedesign {
	            color: $text-color;
	            text-transform: uppercase;
	            font-weight: bolder;
	            padding-top: 10px;
	            margin-bottom: 0px;
	            text-decoration: none;
	            &:hover, &:active, &:link, &:visited {
	            }
			}

			&-author {
	            color: $text-color;
	            padding-top: 10px;
	            text-decoration: none;
	            &:hover, &:active, &:link, &:visited {
	              text-decoration: none;
	            }				
			}

			&-tools {
	            margin-left: 0px;
	            -webkit-margin-before: 0em;
	            -webkit-margin-after: 0em;
	            -webkit-margin-start: 0px;
	            -webkit-margin-end: 0px;
	            -webkit-padding-start: 0px;
	            li {
	              list-style-type: none;
	              display: inline-block;
	            }				
			}

		}	
	}
}


@media screen and (max-width: $mq2){
	.welcome-btn, .welcome-btn:hover {
		padding: 10px 20px;
	}
	.welcome-msg {
		max-width: 100%;
	}
	.btn-cta, .btn-cta:hover {
		padding: 10px 20px;

	}
	.cta-btns {
		display: flex;
		display: -webkit-flex;
		justify-content: center;
		-webkit-justify-content: center; /* Safari 6.1+ */
		flex-wrap: wrap;
		-webkit-flex-wrap: wrap; /* Safari 6.1+ */
		margin-bottom: 20px;
	}

	.contesthightlight {

    	height: 100%;
    	padding: 40px 0px 50px 0px;

		&-winner {
			width: 100%;

			&-image {
				width: 100%;
				height: auto;
				float: left;
			}

			&-textbox {
				width: 100%;
			}
		}
	}
}

@media screen and (min-width: $mq2) and (max-width: $mq3){
	.btn-cta, .btn-cta:hover {
		padding: 10px 20px;
	}

	.contesthightlight {
		height: 100%;

		&-winner {
			width: 33.33%;
			padding-top: 20px;
			display: block;
			float: left;			

			&-image {
				width: 95%;
			}

			&-textbox {
				width: 95%;
			}
		}
	}
}

@media screen and (min-width: $mq3) and (max-width: $mq5) {
	.contesthightlight {

		height: 100%;

		&-winner {
			// width: 100%;
			width: 33.33%;
			padding-top: 20px;			

			&-image {
				width: 95%;
				height: 100%;
			}

			&-textbox {
				width: 95%;
			}
		}
	}
}

@media screen and (min-width: $mq6) {
	.contesthightlight {

		height: 100%;

		&-winner {
			width: 33.33%;
			padding-top: 20px;			

			&-image {
				width: 45%;
				height: 100%;
			}

			&-textbox {
				width: 45%;
				// height: 204px;
				height: 100%;
			}
		}
	}	
}



