%center {
    display: block;
    position: relative;
    margin-right: auto;
    margin-left: auto;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}